<div>
  <h2>Registration</h2>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name" />

    <label for="info">Information:</label>
    <input type="text" id="info" formControlName="info" />

    <label for="birthdate">Birthday:</label>
    <input type="date" id="birthdate" formControlName="birthdate" />

    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" />

    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password" />

    <button type="submit">Register</button>
  </form>
</div>
