<!-- all-users.component.html -->

<div class="user-grid">
  <div *ngFor="let user of users" class="user-card">
    <img [src]="user.photo" [alt]="user.name + '\'s photo'" />
    <h4>{{ user.name }}</h4>
    <p>Email: {{ user.email }}</p>
    <p>Role: {{ user.role }}</p>
    <p>Status: {{ user.status }}</p>
    <p class="birthday" [attr.data-date]="JSON.stringify(user.birthdate)">{{ user.birthdate }}</p>
    <button class="button" (click)="toggleFriend(user.id)">
      {{ isFriend(user.id) ? 'Удалить из друзей' : 'Добавить в друзья' }}
    </button>
  </div>
</div>
