<div>
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" />

    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password" />

    <button type="submit">Login</button>
  </form>

  <div *ngIf="loginError">
    <p>{{ loginError }}</p>
    <p>Не удается войти? <a routerLink="/register">Зарегистрируйтесь</a> или попробуйте еще раз.</p>
  </div>
</div>
